<div class="map-sign">
    <div class="sign sign-base" aria-hidden="true"></div>

    <ul class="sign-menu" [class.active]="isOpen" aria-hidden="true">
        <li class="sign-menu-item">
            <span class="icon material-symbols-outlined">
                question_mark
            </span>
        </li>
        @if (isLogin) {
        <li class="sign-menu-item" (click)="navigateTo('/')">
            <span class="icon material-symbols-outlined">
                face
            </span>
        </li>
        <li class="sign-menu-item" (click)="navigateTo('/sandbox')">
            <span class="icon material-symbols-outlined">
                box_edit
            </span>
        </li>
        }
    </ul>

    <button class="sign sign-cover" type="button" [class.active]="isOpen" [attr.aria-expanded]="isOpen"
        aria-label="Toggle map sign" (click)="toggle()">
    </button>
</div>